/*
    Name: Justin Nguyen
    Date: 09.03.24
    Section: CSE 190e
    This is the calculator.css page for my project.
    It is used to stylize this page to make it more
    "blackjack-like" and add my own spice.
*/

body {
    background-color: #446755;
    margin: 0px;
    padding: 0px;
    font-family: "New Amsterdam", sans-serif;
    color: #f5f5f5e4;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;  
}

#loofy {
    max-height: 200px;
    max-width: 200px;
}

#heart {
    width: min(10vw, 40px);
    height: auto;

}

h2 {
    font-family: "Style Script", cursive;
    display: flex;
    flex-direction: column;
}

#percentage {
    font-size: 20pt;
    color: #ffd95b;
    margin: 20px;
    display: flex;
    justify-content: center;
}

#conclusion {
    font-size: 50pt;
    display: flex;
    justify-content: center;
}

#copyright {
    display: flex;
    justify-content: center;
}

#dealer-cards, #player-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    width: min(12vw, 150px); 
    height: auto;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

footer {
    display: flex;
    justify-content: center;
}

#laufey {
    display: flex;
    justify-content: center;
    
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-size: clamp(16px, 4vw, 24px);
    max-width: 150px;
    background-color: #ffd95b;
    color: #333;
    border: none;
    cursor: pointer;
    flex-shrink: 0; 
    padding: 0.6em 1.2em;
    margin: 0.5em;
    border-radius: 20px;
    flex: 1;
}